{% extends "basic.html" %}

{% block content %}

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-red w3-card w3-left-allign w3-large">
      <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
      <a href="{% url 'index' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Home</a>
      <a href="{% url 'details' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Details</a>
      <a href="{% url 'sdcards' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">SD Cards</a>
      <a href="{% url 'hotspots' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Hotspots</a>
      <a href="{% url 'downloads' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Downloads</a>
      <a href="{% url 'contact-us' %}" class="w3-bar-item w3-button w3-padding-large w3-white">Contact Us</a>
    </div>
  
    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
      <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
      <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
      <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
      <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 4</a>
    </div>
  </div>

  <div class="w3-padding-64">
      <h1>Contact Us</h1>
  </div>

{% endblock %}