{% extends "basic.html" %}

{% block content %}

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-allign w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="{% url 'index' %}" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    <a href="{% url 'details' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Details</a>
    <a href="{% url 'sdcards' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">SD Cards</a>
    <a href="{% url 'hotspots' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Hotspots</a>
    <a href="{% url 'downloads' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Downloads</a>
    <a href="{% url 'contact-us' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Contact Us</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 4</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">ZimGit</h1>
  <p class="w3-xlarge">Enjoy Offline</p>
</header>

{% load static %}

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Download to your mobile device</h1>

      <h5 class="w3-text-grey">Browse our selection of ZIM libraries. Select your favorites and download directly to your mobile device.</h5>
    </div>

    <div class="w3-third w3-center">
      <img src={% static "mobiledevice.png" %} alt="mobile device" style="width: 90%; height: auto"/>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <img src={% static "sdcard.png" %} alt="sd card" style="width: 90%; height: auto"/>
    </div>

    <div class="w3-twothird">
      <h1>Order Pre-loaded Micro SD Cards</h1>

      <h5 class="w3-text-grey">Files can be very large and download times long not to mention possible data charges by your carrier. Order pre-loaded Micro SD cards.</h5>
    </div>
  </div>
</div>

<!-- Third Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Order Preconfigured WiFi Hotspots</h1>

      <h5 class="w3-text-grey">Want access for several users? Order a pre-loaded and pre-configured wifi hotspot. Plug it in and connect without being connected to the world side web.</h5>
    </div>

    <div class="w3-third w3-center">
      <img src={% static "hotspot.png" %} alt="mobile device" style="width: 90%; height: auto"/>
    </div>
  </div>
</div>

<!-- Fourth Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <img src={% static "kiwix.png" %} alt="sd card" style="width: 90%; height: auto"/>
    </div>

    <div class="w3-twothird">
      <h1>Access Your Content</h1>

      <h5 class="w3-text-grey">Use the free KIWIX reader to access your files.</h5>
    </div>
  </div>
</div>
{% endblock %}